# Copy this file to .env.local
NEXT_PUBLIC_SUPABASE_URL=https://qaelfwtbaehdwhnxkpid.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhZWxmd3RiYWVoZHdobnhrcGlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4OTU2MTMsImV4cCI6MjA5OTQ3MTYxM30.ZYKQHQRG_auKaTameu0VBrFkiNHoczSHDExyz0IgMBk
NEXT_PUBLIC_FRONTEND_URL=https://your-app.vercel.app
